:root {
    --modal: #494741;
    --primaryColor: #FFFCFF;
    --secondaryColor: #CCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

body{
    background-image:url('../img/background.png');
    background-repeat: repeat;
    /*background-size: cover;*/
}

main {
    width: 80%;
    margin: auto;
    padding: 2rem;
}

h2{
    margin: 30px;
}

label {
    display: block;
    margin: 1rem 0 0.2rem 0;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--secondaryColor);
    border-radius: 4px;
    font-size: 15px;
}

ul {
    list-style: none;
}

ul li {
    padding: 12px 8px 12px 40px;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #194284;
}

tr:hover {
    background-color: var(--primaryColor);
}

#properties li {
    position: relative;
    transition: 0.2s;
}

#properties li::before {
    content: '\00d7';
    position: absolute;
    top: 10px;
    left: 42%;
}

#properties li.checked::before {
    content: '';
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.accordion {
    background-color: var(--primaryColor);
    color: #444;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.active, .accordion:hover {
    background-color: var(--secondaryColor);
}

.alert {
    display: none;
    padding: 2rem;
    background-color: #f44336;
    color: var(--primaryColor);
}

.alert-close {
    margin-left: 15px;
    color: var(--primaryColor);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-close:hover {
    color: black;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--primaryColor);
    margin: 25vh auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 1rem 2rem;
}

.modal-header {
    padding: 1rem 2rem;
    background-color: var(--modal);
    color: var(--primaryColor);
    text-align: center;
}

.modal-footer {
    padding: 1rem 2rem;
    border-top: 1px solid var(--secondaryColor);
}

.modal-footer button {
    width: 100%;
    background-color: transparent;
    color: var(--modal);
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.modal-footer button:hover {
    background-color: var(--modal);
    color: var(--primaryColor);
}

.panel-equivalence, 
.panel-partial-order,
.panel-none {
    display: hidden;
}

.container{
    text-align: center;
    padding-bottom: 10px;
}

/*#result, #properties{
    text-align: left;
    border: 2px solid;
    width: 80%;
}*/

.background {
    z-index: -999;
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left: 0;
}